<h1>Add an albulm to your collection!</h1>
<form action="/" method="post">
  <label for="new-album-title">Album Title: </label>
  <input type="text" name="new-album-title" id="new-album-title">
  <label for="new-album-artist">Artist: </label>
  <input type="text" name="new-album-artist" id="new-album-artist">
<button type="submit" name="button">Add this Album</button>
</form>
