<h1>Search Your Collection by Artist</h1>
<form action="/artist" method="get">
  <label for="artist-name">Artist Name:</label>
  <input type="text" name="artist-name" id="artist-name">
  <button type="submit" name="button">Search</button>
</form>
